body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin: 0;
    text-align: left;
    color: #293c4b;
}

img {
    margin: 20px 0;
    max-width: 200px;
}

.header{
    text-align: center;
    magin:0.1em;
}

.logs{
    margin: 0;
    padding: 0;
    list-style: none
}
.content{
    margin: 1em;
}

.hilight_line{
    color:red;
}

li span{
    margin: .1em;
}

.btn {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}


.btn_selected {background-color: #e7e7e7;}

.btn:hover {
    cursor: pointer;
    background-color: #e7e7e7;
}

.btn:active {
    outline: none;
    border: none;
}

.btn:focus {outline:0;}


.WARNING{
    background-color: yellow;
}

.ERROR{
    background-color: red;
}
